<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
<meta name="author" content="ABCD" />
<meta name="copyright" content="ABCD" />
<meta name="description" content="RIQ Description here " />
<title>{{ page_title }}</title>
<link rel="stylesheet" href="stylesheets/master.css" />
<noscript>
<link rel="stylesheet" href="stylesheets/mobile.min.css" />
</noscript>
<script>
// Edit to suit your needs.
var ADAPT_CONFIG = {
  // Where is your CSS?
  path: 'stylesheets/',

  // false = Only run once, when page first loads.
  // true = Change on window resize and page tilt.
  dynamic: true,

  // First range entry is the minimum.
  // Last range entry is the maximum.
  // Separate ranges by "to" keyword.
  range: [
    '0px    to 760px  = mobile.min.css',
    '760px  to 980px  = 720.min.css',
    '980px  to 1280px = 960.min.css',
    '1280px to 1600px = 1200.min.css',
    '1600px to 1940px = 1560.min.css',
    '1940px to 2540px = 1920.min.css',
    '2540px           = 2520.min.css'
  ]
};
</script>
<script src="javascripts/adapt.min.js"></script>
<script src="javascripts/timeline.js"></script>
<script src="javascripts/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
</script>

<style>
::-webkit-scrollbar { 
    display: none; 
}
</style>
</head>

<body>

	<div id="wrapper">
	
		<div id="header">
		
			<div class="container_12">
		
				<div class="grid_12">
					<div class="grid_7">
						<div id="client-id" style="display:none"> {{ accountdetails._fields.id }} </div>
						<div id="client-annual-revenue" style="display:none"> {{ accountdetails._fields.annualrevenue }} </div>
						<medium> <lable id="client-name" > {{ accountdetails._fields.name }} </lable> </medium> 
						{% if accountdetails._fields.type %} 
							<small> 
								<lable id="client-type" > 
										 ( {{ accountdetails._fields.type}} )						
	 							</lable> 
	 						</small>
						{% endif %}
					</div>
					<div class="grid_4 align_right" >
						<big> Timelilne<span style="color:#3077AD">IQ</span> </big>
					</div>
				</div>
				
				<div class="grid_8">
					<div class="grid_4">
						<p>
							<lable id="det-sec1-1-lable" > Product/Services Bought : </lable> <lable id="prod-ser-bought" class="data-load-controls" service_url="getproductsbought"> </lable>
						</p>
						<p>
							<lable id="det-sec1-2-lable" > Client Since : </lable> <lable id="client-since" class="data-load-controls" service_url="getclientsincedate"> </lable> <br> 
							<lable id="det-sec1-3-lable" > Introduced On : </lable> <lable id="introduced-on" class="data-load-controls" service_url="getintroducedondate"> </lable> <br> 
							<lable id="det-sec1-4-lable" > Time to Acquire : </lable> <lable id="time-to-acquire" class="data-load-controls" service_url="getimetoacquire" > </lable> <br> 
							<lable id="det-sec1-5-lable" > Acquired Through : </lable> <lable id="acquired-through" class="data-load-controls" service_url="getacquiredthrough"> </lable> <br> 
						</p>
					</div>
					<div class="grid_3">
						<p>
							<lable id="det-sec2-1-lable" > 
								Record Owner :
								{% if accountdetails._fields.owner.Name %} 
									{{ accountdetails._fields.owner.Name }}								
								{% endif %}
							</lable>
						</p>
						<p>
							<lable id="det-sec2-2-lable" > Customer Lifetime Value (CLV) : </lable> <lable id="cust-life-value" class="data-load-controls" service_url="getlifetimevalue"> </lable> <br> 
							<lable id="det-sec2-3-lable" > % Revenue Contribution : </lable> <lable id="revenue-contr" class="data-load-controls" service_url="getannualrevenuepercent"> </lable>  <br> 
						</p>
					</div>
				</div>
				<div class="grid_4">
					<lable id="total-touchpoint-lable" > Total Number of Touchpoint(Meaningful): </lable> <lable id="total-touchpoint" > </lable> 
					<div class="grid_4" id="touch-point-chart"></div>
				</div>
				
				<hr class="grid_12" />

			</div>
		</div>
		
		
		<div id="content">
			<div class="container_12">
				<div class="grid_12">
				</div>
				
				<div id="event-content" class="grid_9" style="overflow-y:scroll; overflow-x: hidden">
				{% if accountdetails._fields.activityhistories && accountdetails._fields.activityhistories.records %}
					<ul>
						<li> 
							<div class="grid_9 align_center" > 
								<div class="prefix_2 grid_3" > 
									<lable id="client-timeline-desc" style="align:center" > Client Timeline :  {{ client_summary.revenue.revenue_contr }}  </lable>
								</div>
							</div>
						</li>
						<li> 
							<div class="grid_9 align_center" > 
								<div class="prefix_3 grid_1" > 
									<canvas id="first-timeline" class="first-timeline"> </canvas>
								</div>
							</div>
						</li>						
							{% for x in accountdetails._fields.activityhistories.records %}
								{% if loop.index % 2 == 0 %}
									<li> 
										<div class="grid_9 align_center" >
											<div id="left_data_grid_{{ loop.index }}" class="grid_3 align_right_bottom" onMouseOver="showEventFullDetails(this.id,'{{ x.Description}}')" onMouseOut="showEventSummaryDetails(this.id, '{{ x.event_date }}', ' {{ x.event_summary }}')"> 
													<lable class="left-label"> {{x.ActivityDate}} <br>  {{ x.Subject}}  </lable>
											</div>
											<div class="grid_1 suffix_3" >
												<canvas id="left_canvas_{{ loop.index }}"  class="left-timeline"> </canvas>
											</div> 
										</div>
									</li>
								{% endif %}
								{% if loop.index % 2 != 0 %}
									<li> 
										<div class="grid_9 align_center" >
											<div class="grid_1 prefix_3 suffix_1" >
												<canvas id="right_canvas_{{ loop.index }}" class="right-timeline"> </canvas>
											</div> 
											<div id="right_data_grid_{{ loop.index }}" class="grid_3 align_left_bottom" onMouseOver="showEventFullDetails(this.id,'{{ x.Description}}')" onMouseOut="showEventSummaryDetails(this.id, '{{ x.event_date }}', ' {{ x.event_summary }}')"> 
												<lable class="right-label"> {{x.ActivityDate}} <br>  {{ x.Subject}}  </lable>
											</div>
										</div>
									</li>
								{% endif %}
							{% endfor %}
					</ul>
				{% endif %}
				</div>
				<div class="grid_3">
					<lable id="event-details-section"> &nbsp; </lable>
				</div>
			</div>
		</div>
		
		<div id="footer">

			<div class="container_12">
				<hr class="grid_12" />
				
				<div class="container_12 ">
					<div class="grid_3">
						<p>
							<small>
								Licensed Details with link
							</small>
						</p>
					</div>
					<div class="grid_6 align_center">
						<p>
							<small>
								Company Details - With Link
							</small>
						</p>
					</div>
					<div class="grid_3 align_right">
						<p>
							<small>
								Contact Details and HowTo here
							</small>
						</p>
					</div>
				</div>
			</div>
		</div>
		
	</div>

</body>

<script >
	var color_counter = 0;
	function Touchpoint(desc,number) {
		this.desc = desc;
		this.number = number;
  	};
	
	$( document ).ready( 
		function(){
			console.log('On document ready called');
			
			var width = Math.max(document.documentElement.clientWidth, window.innerWidth || 0)
			var height = Math.max(document.documentElement.clientHeight, window.innerHeight || 0)
			
			
			var content_area_height =  height - $("#header").height() - ($("#footer").height())*1.5 ;
			var content_area_li_height =  content_area_height / 6;
			var content_area_li_width =  width / 12;
			
			$("#event-content").css( { height: content_area_height });
			
			$(".first-timeline").each(function(){ 
				drawCanvas(this.id,content_area_li_height, content_area_li_width, "FIRST");
			} );
			
			$(".left-timeline").each(function(){  
				drawCanvas(this.id,content_area_li_height, content_area_li_width, "LEFT");
			} );

			$(".right-timeline").each(function(){  
				drawCanvas(this.id,content_area_li_height, content_area_li_width, "RIGHT");
			} );
		}
	);
	
	showEventSummaryDetails = function(id, date, summary){
		$("#event-details-section").text('');
	};

	showEventFullDetails = function(id, fullDetails){
		$("#event-details-section").text("Event Details : " +  fullDetails);
	};

    $('.data-load-controls').each(function() {
    	
    	var account_id = $('#client-id').text().trim();
    	var service_url = $(this).attr('service_url');
    	var caller_id = $(this).attr('id');
		
		$.ajax({
		  url: "/"+service_url,
		  data: {"accountid": account_id},
		  success:function(data){  
		  	console.log(service_url+" : "+data);
		  	$("#"+caller_id).text(data); 
		  }
		});

    });

	$('#event-content').each(function() {
    	
    	var account_id = $('#client-id').text().trim();
    	var service_url = "/getaccountactivity";
		
		$.ajax({
		  url: service_url,
		  data: {"accountid": account_id},
		  success:function(data){  
			analyzeAccountActivityAndDrawChart(data);
		  }
		});

    });

	analyzeAccountActivityAndDrawChart = function(data){
		var activity_map = {};

		for(var i=0; i< data.length; i++){
			type = data[i].Subject;
			if(activity_map[type])
				activity_map[type] += 1;
			else
				activity_map[type] = 1;
		}
		
		var touchpointStatsArray = new Array();
		var count=0;
		for(key in activity_map){
			touchpointStatsArray[ count++ ] = new Touchpoint( key ,  activity_map[key]);
		}
		
		if(count > 0)
			drawChart(touchpointStatsArray, "touch-point-chart",  "total-touchpoint");
	};
</script>

</html>