<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
<meta name="author" content="ABCD" />
<meta name="copyright" content="ABCD" />
<meta name="description" content="RIQ Descriptino here " />
<title>{{ page_title }}</title>
<link rel="stylesheet" href="stylesheets/master.css" />
<noscript>
<link rel="stylesheet" href="stylesheets/mobile.min.css" />
</noscript>
<script>
// Edit to suit your needs.
var ADAPT_CONFIG = {
  // Where is your CSS?
  path: 'stylesheets/',

  // false = Only run once, when page first loads.
  // true = Change on window resize and page tilt.
  dynamic: true,

  // First range entry is the minimum.
  // Last range entry is the maximum.
  // Separate ranges by "to" keyword.
  range: [
    '0px    to 760px  = mobile.min.css',
    '760px  to 980px  = 720.min.css',
    '980px  to 1280px = 960.min.css',
    '1280px to 1600px = 1200.min.css',
    '1600px to 1940px = 1560.min.css',
    '1940px to 2540px = 1920.min.css',
    '2540px           = 2520.min.css'
  ]
};
</script>
<script src="javascripts/adapt.min.js"></script>
<script src="javascripts/timeline.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
</script>
</head>

<body>

	<div id="wrapper">
	
		<div id="header">
		
			<div class="container_12">
		
				<div class="grid_12">
					<div class="grid_4">
						<medium> <lable id="client-name" > {{ client_summary.client_details.client_name }} </lable> </medium> 
						<small> <lable id="client-type" > {{ client_summary.client_details.client_type }} </lable> </small>
					</div>
					<div class="grid_7 align_right" >
						<big> Timelilne<span style="color:#3077AD">IQ</span> </big>
					</div>
				</div>
				
				<div class="grid_8">
					<div class="grid_4">
						<p>
							<lable id="det-sec1-1-lable" > Product/Services Bought : </lable> <lable id="prod-ser-bought" > {{ client_summary.services.services_bought }} </lable>
						</p>
						<p>
							<lable id="det-sec1-2-lable" > Client Since : </lable> <lable id="client-since" > {{ client_summary.client_details.client_since }} </lable> <br> 
							<lable id="det-sec1-3-lable" > Introduced On : </lable> <lable id="introduced-on" > {{ client_summary.client_details.introduced_on }} </lable> <br> 
							<lable id="det-sec1-4-lable" > Time to Acquire : </lable> <lable id="time-to-acquire" > {{ client_summary.acquisition.time_to_acquire }} </lable> <br> 
							<lable id="det-sec1-5-lable" > Acquired Through : </lable> <lable id="acquired-through" > {{ client_summary.acquisition.acruired_through }} </lable> <br> 
						</p>
					</div>
					<div class="grid_3">
						<p>
							<lable id="det-sec2-1-lable" > Record Owner : </lable> <lable id="record-owner" > {{ client_summary.acquisition.record_owner }} </lable>
						</p>
						<p>
							<lable id="det-sec2-2-lable" > Customer Lifetime Value (CLV) : </lable> <lable id="cust-life-value" > {{ client_summary.revenue.cust_life_value }} </lable> <br> 
							<lable id="det-sec2-3-lable" > % Revenue Contribution : </lable> <lable id="revenue-contr" > {{ client_summary.revenue.revenue_contr }} % </lable> <br> 
						</p>
					</div>
				</div>
				<div class="grid_4">
					<lable id="total-touchpoint-lable" > Total Number of Touchpoint(Meaningful): </lable> <lable id="total-touchpoint" >[ TOUCH-POINT-NUMBER HERE ] </lable> 
					<div class="grid_4" id="touch-point-chart"></div>
				</div>
				
				<hr class="grid_12" />

			</div>
		</div>
		
		
		<div id="content">
			<div class="container_12">
				<div class="grid_12">
				</div>
				
				<div id="event-content" class="grid_9" style="overflow-y:scroll; overflow-x: hidden">
					<ul>
						<li> 
							<div class="grid_9 align_center" > 
								<div class="prefix_2 grid_3" > 
									<lable id="client-timeline-desc" style="align:center" > Client Timeline :  {{ client_summary.revenue.revenue_contr }}  </lable>
								</div>
							</div>
						</li>
						<li> 
							<div class="grid_9 align_center" > 
								<div class="prefix_3 grid_1" > 
									<canvas id="first-timeline" class="first-timeline"> </canvas>
								</div>
							</div>
						</li>						
						{% for x in client_summary.event_stats  %}
							{% if loop.index % 2 == 0 %}
								<li> 
									<div class="grid_9 align_center" >
										<div id="left_data_grid_{{ loop.index }}" class="grid_3 align_right_bottom" onMouseOver="showEventFullDetails(this.id,'{{ x.event_details}}')" onMouseOut="showEventSummaryDetails(this.id, '{{ x.event_date }}', ' {{ x.event_summary }}')"> 
											<lable class="left-label"> {{x.event_date}} <br>  {{ x.event_summary}}  </lable>
										</div>
										<div class="grid_1 suffix_3" >
											<canvas id="left_canvas_{{ loop.index }}"  class="left-timeline"> </canvas>
										</div> 
									</div>
								</li>
							{% endif %}
							{% if loop.index % 2 != 0 %}
								<li> 
									<div class="grid_9 align_center" >
										<div class="grid_1 prefix_3 suffix_1" >
											<canvas id="right_canvas_{{ loop.index }}" class="right-timeline"> </canvas>
										</div> 
										<div id="right_data_grid_{{ loop.index }}" class="grid_3 align_left_bottom" onMouseOver="showEventFullDetails(this.id,'{{ x.event_details}}')" onMouseOut="showEventSummaryDetails(this.id, '{{ x.event_date }}', ' {{ x.event_summary }}')"> 
											<lable class="right-label"> {{x.event_date}} <br>  {{ x.event_summary}}  </lable>
										</div>
									</div>
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
				<div class="grid_3">
					<lable id="event-details-section"> &nbsp; </lable>
				</div>
			</div>
		</div>
		
		<div id="footer">

			<div class="container_12">
				<hr class="grid_12" />
				
				<div class="container_12 ">
					<div class="grid_3">
						<p>
							<small>
								Licensed Details with link
							</small>
						</p>
					</div>
					<div class="grid_6 align_center">
						<p>
							<small>
								Company Details - With Link
							</small>
						</p>
					</div>
					<div class="grid_3 align_right">
						<p>
							<small>
								Contact Details and HowTo here
							</small>
						</p>
					</div>
				</div>
			</div>
		</div>
		
	</div>

</body>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

<script>
	function Touchpoint(desc,number) {
    	this.desc = desc;
    	this.number = number;
  	};
	
	var touchpointStatsArray = new Array();

	{% for x in client_summary.touchpoint_stats  %}
		touchpointStatsArray[ {{ loop.index }} ] = new Touchpoint( "{{ x.touchpoint_desc }}" , "{{ x.no_of_touchpoints }}" );
	{% endfor %}

</script>

<script >
	var color_counter = 0;
	
	$( document ).ready( 
		function(){

			drawChart(touchpointStatsArray, "touch-point-chart",  "total-touchpoint");
			 
			var width = Math.max(document.documentElement.clientWidth, window.innerWidth || 0)
			var height = Math.max(document.documentElement.clientHeight, window.innerHeight || 0)
			
			
			var content_area_height =  height - $("#header").height() - ($("#footer").height())*1.5 ;
			var content_area_li_height =  content_area_height / 6;
			var content_area_li_width =  width / 12;
			
			$("#event-content").css( { height: content_area_height });
			
			$(".first-timeline").each(function(){ 
				drawCanvas(this.id,content_area_li_height, content_area_li_width, "FIRST");
			} );
			
			$(".left-timeline").each(function(){  
				drawCanvas(this.id,content_area_li_height, content_area_li_width, "LEFT");
			} );

			$(".right-timeline").each(function(){  
				drawCanvas(this.id,content_area_li_height, content_area_li_width, "RIGHT");
			} );
		}
	);
	
	showEventSummaryDetails = function(id,date, summary){
		$("#event-details-section").text('');
	};

	showEventFullDetails = function(id,fullDetails){
		$("#event-details-section").text("Event Details : " +  fullDetails);
	};
</script>

</html>